html, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    background-image: url("C:/Users/Ashutosh/Pictures/Screenshots/Screenshot 2025-10-05 222134.png");
    background-repeat: no-repeat;
    background-position: right 40px top;
    background-size: cover;
}

p {
    font-family: Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 3px 0px 10px #000;
}
